.footer {
  height: fit-content;
  width: fit-content;
  margin-top: 45%;
  color: aliceblue;
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 18px;
}
.heart {
  font-size: 20px;
  color: #003b6f;
}
